<!DOCTYPE html>
<html>
<head>
<style>
th, td {
  border: 1px solid black;
  border-radius: 30px;
  border-color: DodgerBlue;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
h1 {
  text-align: center;
  color: #3385ff;
}
th {
  color: DodgerBlue;
}
a {
  color: DodgerBlue;
  text-decoration: none;
}
a.ex1 {
  color: DodgerBlue;
  text-decoration: none;
  margin-right: 27%
}
</style>
</head>
<body>

<h1>CADASTRO</h1>

<table class="center" style="width:50%">
  <tr>
    <th><a href="/cargo">Cargo</a></th>
  </tr>
  <tr>
    <th><a href="/cliente">Cliente</a></th>
  </tr>
  <tr>
    <th><a href="/funcionario">Funcionário</a></th>
  </tr>
  <tr>
    <th><a href="/projeto">Projeto</a></th>
  </tr>
</table>
<br>
<a class="ex1" href="/home" style="float: right;">Home</a>
</body>
</html>
