<!DOCTYPE html>
<html>
<head>
<style>
th, td {
  border: 1px solid black;
  border-radius: 30px;
  border-color: DodgerBlue;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
h1 {
  text-align: center;
  color: #3385ff;
}
h3 {
  text-align: center;
  color: #3385ff;
}
a {
  color: DodgerBlue;
  text-decoration: none;
  margin-right: 2%;
}
</style>
</head>
<body>

<h1>Sistema para Gestão de Atividades</h1>

<table class="center" style="width:80%">
    <tr>
        <th>
            <h1>Você deseja excluir este item?</h1>
            
            <h1><a href="/projeto_excluir/{{ data.id }}">Confirmar</a></h1>
            
            <h3><a href="/projeto" style="float: right;">Cancelar</a></h3>
        </th>
    </tr>
</table>

</body>
</html>
