<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-radius: 30px;
  border-color: DodgerBlue;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
h1 {
  text-align: center;
  color: #3385ff;
}
th {
  color: DodgerBlue;
}
a {
  color: DodgerBlue;
  text-decoration: none;
}
</style>
</head>
<body>

<h1>Sistema para Gestão de Atividades</h1>

<table class="center" style="width:50%">
  <tr>
    <th><h1><a href="/cadastro">Cadastro</a></h1></th>
    <th><h1><a href="/gerenciamento">Atividades</a></h1></th> 
    <th><h1><a href="/relatorio">Relatório</a></h1></th>
  </tr>
</table>

</body>
</html>